{name, "proper"}.
{description, "PropEr: a QuickCheck-inspired property-based testing tool for Erlang"}.
{homepage, "https://github.com/manopapad/proper"}.
{url, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}.
{authors, ["Manolis Papadakis <manopapad@gmail.com>",
           "Kostis Sagonas <kostis@cs.ntua.gr>"]}.
{license, "GPL3+", "COPYING"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
